 *{
  box-sizing: border-box;
  /* outline: dotted red; */
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
 }
.container {
  height: 100vh;
  width: 100vw;
}

.nav-bar {
  display: flex;
  background-color: #1f2937;
  justify-content: space-around;
  align-items: center;
  height: 60px;
}

.hamburger {
  display: flex;
  justify-content: center;
  gap: 50px;
  font-size: 20px;
  margin-top: 30px;
  box-shadow: 0px 5px 0px grey;
  font-weight: bolder;
}

li{
  list-style: none;
  text-decoration: none;
  margin-bottom: 5px;
  padding: 10px 10px 0px 10px;
}

li:hover{
  box-shadow:0px 2px 0px #3882f6;
  border-radius: 2px;
}

.logo img{
  color: #fff;
  width: 40px;
  height: 40px;
  margin-top: 30px;
  border-radius: 2px;
}

a{
  text-decoration: none;
  color: #fff;
}
h2{
  font-size: 48px;
  font-weight: bolder;
  margin-bottom: 10px;
  color: #f9faf8;
  /* line-height: 50px; */
}

.action{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  height: 250px;
  color: #f9faf8;
}

h4 {
  font-size: 36px;
}



.call-background{
  background-color: #3886f2;
  padding: 25px 90px 25px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:200px;
  border-radius: 3px;
}

.call-button{
  padding: 10px 30px 10px 30px;
  font-weight: bold;
  background-color: #3886f2;
  color: #f9faf8;
  border: 2px solid #f9faf8;
  border-radius: 8px;
}
.hero {
  display: flex;
  justify-content: center;
  background-color: #1f2937;
  height: 500px;
}

.hero-text{
  height: 250px;
  width: 500px;
  color: #fff;
  margin-right: 90px;
  margin-top: 90px;
  line-height: 29px;
}

.hero-image .hero-image{
  height: 250px;
  width: 500px;
  border-style: none;
  margin-top: 80px;
  border-radius: 8px;
  box-shadow: 3px 3px 3px 3px darkgray;
}

.hero-button {
  padding: 8px 30px;
  margin-top: 10px;
  cursor: pointer;
  background-color: #3882f6;
  color: #fff;
  font-size: 15px;
  border-style: none;
  border-radius: 8px;
}
.section-header {
  text-align: center;
  margin-top: 60px;
  font-size: 34px;
  margin-bottom: 0;
  /* overflow-wrap: break-word;
  inline-size: 250px; */
}

.items-section{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  padding: 30px;
}

.item-container{
  height: 200px;
  width: 160px;
}


.items .item-image{
  height: 160px;
  width: 160px;
  border: 2px solid #3882f6;
  border-radius: 9px;
}
.quotes{
  height: 450px;
  text-align: center;
  padding: 60px 20% 20px 20% ;
  background-color: #e5e7eb;
}

.name{
  margin-left: 60%;
  padding-top: 20px;
}

.footer-section {
  background-color: #1f2937;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9faf8;
  
  margin: 0 auto;
}

.quote{
  word-wrap: break-word;
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

 @media screen and (max-width: 600px) {
  .items-section ,.hero{
    flex-direction: column;
  }

  .call-background {
    display: block;
    margin-top: 80px;
  }

}

@media screen and (max-width: 720px) {
  .items-section ,.hero{
    flex-direction: column;
  }
}

